.container{
    background-color: purple ;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    
}
.column-1{
    background-color: brown;
}
.column2{
    background-color: blue;
}   