.solid{
    border: 2px solid black;
    padding-left: 20px;
}
.radius{
    border: 2px solid blue;
    border-radius: 30px;   
    padding-left: 20px;
}
.dashed{
     border: 2px dashed #EB5353;
     padding-left: 20px;
}
.dotted{
    border: 2px dotted #A369BB;
    padding-left: 20px;
}
.double{
    border: 2px double #89E2AF;
    padding-left: 20px;
}
.groove{
    border: 2px groove #34034A; 
    padding-left: 20px;
}
.inset{
    border: 2px inset #882B00;
    padding-left: 20px;
}
.outset{
    border: 2px outset #1d9adc;
}
.ridge{
    border: 2px ridge #cf5643;
}
.random{
    border-top: 2px solid  red;
    border-bottom: 2px solid green;
    border-left: 2px solid  yellow;
    border-right: 2px solid blue;
    /* border: 2px solid; */
}
.gradasi{
   border-width:    2px;
   border-style: solid;
   border-image: linear-gradient(to left, red, blue, purple) 1 ;
}