section{
display: flex;
flex-direction: column;
gap: 10px;

}

.box-1{
    background-color: purple;
    width:300px;
    padding: 20px;
    border: 5px solid aqua;
}
.box-2{
    background-color: orange;
    width:300px;
    padding: 20px;
    border: 5px solid aqua;
    box-sizing: border-box;
}