.header {
  background-color: green;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 3;
}
.sidebar-kiri {
  background-color: gray;
  margin-top: 60px;
  width: 200px;
  height: 900px;
}
.sticky {
  background-color: yellow;
  margin-top: 100px;
  width: 1800px;
  height: 40px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 50px;
  right: 0;
  z-index: -1;
}
.elemen-utama {
  display: flex;
  flex-direction: row;
}
.parent {
  background-color: gray;
  border: 1px solid black;
  margin-left: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  z-index: 2;
}
.child {
  background-color: green;
  border-radius: 10px;
  position: relative;
  width: 80px;
  height: 50px;
  left: 90px;
  top: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.child p {
  position: absolute;
}
.content-utama {
  background-color: gray;
  margin-left: 20px;
  margin-top: 20px;
  border: 1px solid black;
}
.isi-content {
  margin-left: 20px;
}
.btn {
  text-align: right;
}
.btn button {
  /* text-align: end; */
  background-color: rgb(243, 94, 8);
  border: none;
  padding: 10px 20px;
  color: white;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
.footer {
  background-color: green;
  color: white;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1000px;
}
