div h2  {
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%); 
}
 div h3{
    background: linear-gradient(90deg,rgba(125, 25, 191, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
body{
    background-image: url(./Cats\ Wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}