.box {
    background-color: green;
    color: aliceblue;
}
.box h3{
    background-color: yellow;
}
.box-one h2{
 color: white;   
 background-color:rgba(0, 0, 255, 0.1)
}
.box-one h3{
    color: blue;
    background-color:hsl(324, 82%, 45%)
}
.box-one div h3{
    color: greenyellow;
}
.box-one div .item h3{
    color: rgb( 0 , 0, 255)
}