*{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: darkcyan;
}
hr{
    border-color: darkcyan;
    border: 2px solid darkcyan;
}
.tebal{
    font-weight: bold;
}
.miring{
    font-style: italic;
}
.large{
    font-size: xx-large;
    color: red;
}
.small{
    font-size: xx-small;
    color: gray;
}
.bawah{
    text-decoration: underline;
}
.atas{
    text-decoration: overline;
}
.coret{
    text-decoration: line-through;
}
.kanan{
    text-align: end;
}
.tengah{
    text-align: center;
}
.kapital{
    text-transform: uppercase;
}
.kecil{
    text-transform: lowercase;
}
.kapitalawal{
    text-transform:capitalize;
}
.jarak{
    letter-spacing: 10px;
}
.kata{
    word-spacing: 10px;
}