.line button{
   padding: 4px 8px;
    background-color: yellow;
    border: 0 0 5px 0;  
    border-style: dotted;
    border-width: 2px;  

    margin-bottom: 50px;
}
.garis h1{
   border: 2px solid black;
   border-radius: 0 0 10px 0;
   width: 200px;
   height: 50px;
}
.gambar{
   border: 60px solid transparent;
   border-image: url(./Cats\ Wallpaper.jpg);
   border-image-slice: 30;
   /* border-image-repeat: ; */
   width: 300px;
   height: 30px;
}