@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Alfa Slab One';
}
header{
    background-color: #FF8F0C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 132px;
    /* box-shadow:px  black ; */
}
.logo{
    margin-left: 24px;
}
nav{
    margin-right: 31px;
}
a{
    padding: 37px;
    text-decoration: none;
    color: white;
}
#tugas-page1{
    background-image: url(./Background\ Doodle.png);
    height: 1044px;
}
.kanan img{
    width: 327px;
    height: 327px;
}
.kiri{
    margin-top: 181px;
    margin-left: 137px;
}
.kiri h1{
    font-size: 51px;
    font-weight: 400;
}
.kiri h3{
font-size: 23px;
}
.info{
    color: #FF8F0C;
}
.kanan{
    margin-top: 80px;
    margin-right: 183px;
}
button{
    width: 187px;
    height: 58px;
    color: white;
    background-color: #FF8F0C;
    border: none;
    border-radius: 6px;
    margin-top: 24px;
    font-size: 16px;
}
.atas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.bawah{
    margin-top: 182px;
}
.bawah h4{
    text-align: center;
    font-size: 28px;    
}
.orange{
    color: #FF8F0C;
}
.bawah img{
    margin-left: 280px;
    margin-top: 43px;
}