@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #486284;
  font-family: Poppins, sans-serif;
}

.bagian-nav {
  /* background-color: wheat; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border-radius: 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  font-family: Poppins, sans-serif;

  /* margin-left: 20px; */
  margin-right: 20px;
}
/* .logo img{
width: 270px;
height: 70px;

margin-top: 10px;
} */

.navigasi {
  display: none;
}
.bars {
  display: block;
  margin-top: 25px;
}
.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column-reverse;
}
.bag-kiri h1 {
  font-size: 36px;
  text-align: center;
}
.bag-kiri p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
.bag-kanan img {
  width: 402px;
  height: 402px;

  margin-bottom: 100px;
}
.tombol {
  text-align: center;
  margin-bottom: 50px;
}
.tmbl {
  background-color: #e60012;
  width: 130px;
  height: 45px;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.tombol a {
  text-decoration: none;
  color: white;
  padding-left: 40px;
}
.container-2 {
  display: none;

  margin-bottom: 200px;
}
.container-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-3 img {
  width: 400px;
  height: auto;

  margin-bottom: 20px;
}
.container-4 {
  text-align: center;
  margin-bottom: 100px;
}

@media (min-width: 1450px) {
  .bagian-nav {
    background-color: wheat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-radius: 5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* width: 1449px; */
    /* height: 120px; */

    font-family: Poppins, sans-serif;

    box-shadow: 1px 1px 2px black;
    margin-left: 40px;
    margin-right: 40px;
  }
  .logo {
    margin-top: 10px;

    width: 333px;
    height: 87px;
  }
  .logo img {
    width: 333px;
    height: auto;
  }
  .navigasi {
    margin-top: 35px;
    margin-right: 50px;
    display: inline-block;
  }
  a {
    padding: 40px;
    text-decoration: none;
    color: gray;
  }
  .gray1:hover {
    color: #fff;
    text-shadow: 0 0 8px #e60012, 0 0 15px #e60012;
  }
  .gray2:hover {
    color: #fff;
    text-shadow: 0 0 8px #e60012, 0 0 15px #e60012;
  }
  .gray3:hover {
    color: #fff;
    text-shadow: 0 0 8px #e60012, 0 0 15px #e60012;
  }
  .hitam {
    color: black;
  }
  .hitam:hover {
    text-shadow: 1px 1px 2px white;
    color: #fff;
  }
  .dashed {
    color: black;
    text-decoration: underline black;
  }
  .dashed:hover {
    color: blue;
    text-decoration: underline blue;
  }
  .btn {
    background-color: #e60012;
    width: 86px;
    height: 35px;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  .btn:hover {
    box-shadow: 0 0 15px #e60012, 0 0 30px #e60012;
    transform: scale(1.05);
  }
  .bars {
    display: none;
  }
  .container {
    margin-top: 300px;
    font-family: Poppins, sans-serif;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-left: 40px;
    margin-right: 40px;
  }
  .bag-kiri h1 {
    font-size: 48px;
  }
  .bag-kanan img {
    width: 600px;
    height: auto;

    margin-bottom: 20px;
  }
  .tmbl {
    background-color: #e60012;
    width: 130px;
    height: 45px;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  .container-2 {
    display: block;
    text-align: center;
  }
  .container-3 img {
    width: 1440px;
    height: 316px;
  }
  .container-4 {
    text-align: center;
    margin-bottom: 200px;
    margin-top: 69px;
  }
  .container-5 {
    text-align: center;
    margin-bottom: 100px;
  }
  .container-5 li a {
    font-size: 24px;
  }
  .bag-1 {
    background-color: white;
  }
}
